<!-- Adicione estas entradas dentro de <properties> no arquivo traccar.xml. -->
<entry key='forward.type'>json</entry>
<entry key='forward.url'>http://127.0.0.1:9000/traccar/position</entry>
<entry key='forward.header'>X-Bridge-Key: fmc150-traccar-bridge-6af476d31d6f4a1aa9a7d093d3d4e7b</entry>
<entry key='forward.retry.enable'>true</entry>
<entry key='forward.retry.delay'>1000</entry>
<entry key='forward.retry.count'>10</entry>
<entry key='forward.retry.limit'>1000</entry>
